<ion-header>
  <ion-toolbar>
    <ion-title>signo</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 *ngIf="signo">{{signo}}</h2>
  <p *ngIf="data">{{data.description}}</p>
  <p *ngIf="data"><strong> Date Range:</strong>{{data.date_range}} <br>
    <strong> Compatibility: </strong>{{data.compatibility}} <br>
    <strong> Mood: </strong>{{data.mood}}&nbsp; <strong> Color: </strong>{{data.color}} <br>
    <strong> Lucky Number: </strong>{{data.lucky_number}}
  </p>
</ion-content>
